* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_color: #fff;
  --secondary_color: #000;
  /* --grey: #ebecf0; */
  --grey: #f7f7f7;
  --mobilefont: 0.7rem;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 0 0.5rem;
}
/* utility classes */

span {
  font-size: 2rem;
  font-weight: 300;
}
.span-bold {
  font-weight: 600;
}

.withpadding {
  padding: 0 6rem;
}

/* utility classes closed */

/* navbar styling */
nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--primary_color);
  z-index: 100;
}

.navbar_left,
.navbar_middle,
.navbar_right {
  flex: 1;
}
.menubar {
  display: none;
}

.navbar_left img {
  vertical-align: middle;

  height: 5vh;
}
.navbar_middle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar_left a,
.navbar_middle a,
.navbar_right a {
  text-decoration: none;
  color: var(--secondary_color);
}
.navbar_middle li {
  list-style: none;
}
.navbar_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* heropage section styling */

.hero_page_container {
  height: 70vh;
}
.hero_page_container img {
  height: 100%;
  width: 100%;
}

/* article part styling */

article {
  margin-top: 1.5rem;
  font-weight: 400;
  opacity: 0.5;
  font-size: 0.7rem;
}

/* product description sections styling */

.product_description {
  display: flex;
  flex-wrap: wrap;
}
.product_description_text_box {
  flex: 1.3;
}

.product_description_card_box {
  flex: 1;
}
.card_box {
  margin-left: 4rem;
  background-color: var(--grey);
  padding: 2rem;
}

.copyright_container {
  height: 2rem;
  width: 4rem;

  border-radius: 18px;
  background-color: var(--secondary_color);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.copyright_container p {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.card_box .copyright_icon {
  height: 2rem;
  width: 2rem;
  color: red;
  /* background-color: red; */

  z-index: 2;
}
.card_box_description_title {
  margin-top: 1rem;

  font-weight: bolder;
}


.logos_box {
  margin-top: 2rem;
}
.logos_box img {
  height: 2rem;
  width: 5rem;
  /* border: 2px solid red; */
  /* object-fit: cover; */
}

/* image container section styling */
.image_container {
  height: 75vh;
  /* margin-top: 2rem; */
}
.image_container img {
  height: 100%;
  width: 100%;
}

/* prob section styling */

.prob_container {
  height: 30vh;

  background-color: var(--grey);
  display: flex;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.prob_title {
  width: 30w;
}
.prob_description {
  width: 40vw;
  margin-left: 5rem;
}

/* recipe guide styling */

.recipe_guide_container {
  height: 70vh;
  display: flex;
  flex-wrap: wrap-reverse;
}

.recipe_guide_image_container,
.recipe_guide_text_box_container {
  flex: 1;
}

.recipe_guide_image_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.recipe_guide_text_box_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text_box {
  width: 66%;
  margin-left: 3rem;
}

.progress_bar_parent {
  width: 10rem;
  background-color: grey;
  border-radius: 12px;
}
.progress_bar_child {
  /* height: 1rem; */
  width: 4rem;
  background-color: var(--secondary_color);
  color: var(--primary_color);
  border-radius: 12px;
  padding-left: 8px;
}
.guided_recipes_footer_container {
  display: flex;
  align-items: center;
}
.cooking_pot_container {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  /* justify-content: flex-start; */
}
.guided_recipes_footer_container img {
  height: 2rem;
  margin-right: 0.5rem;
}

/* premium section styling */
.premium_container {
  height: 70vh;

  display: flex;
  flex-wrap: wrap;
}

.premium_text_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--grey);
}
.premium_text_box {
  margin: 0rem 6rem;

  background-color: var(--grey);
}
.premium_text_box p {
  margin-top: 1rem;
}
.premium_image_container {
  height: 100%;
  flex: 1.3;
}
.premium_image_container img {
  height: 100%;
  width: 100%;
}

/* technology section styling */

.technology {
  padding-top: 6rem;
}
.technology p {
  width: 60%;
}

/* pan container section styling */

.pan_container {
  height: 40vh;
}
.pan_image_container {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}
.pan_container img {
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: right;
}

/* hobs and accessories section styling */

.hobs_and_accessories {
  padding: 5rem 0rem;
}
.hobs_and_accessories p {
  width: 50%;
}

/* stove images styling */

.stoveimage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stoveimage img:hover{
  opacity: 0.9;
  cursor: pointer;
}
.stoveimage_container {
  height: 70%;
  width: 100%;
  background-color: var(--grey);
  position: relative;
}
.stoveimage_box {
  height: 60vh;
  position: absolute;
  width: 100%;
  top: -120px;
  left: 0;
}
.stoveimage_box img {
  height: 100%;
  width: 100%;
}
.stock_images {
  height: 80vh;
  position: absolute;
  width: 100%;
  top: 400px;
  display: flex;
  padding: 0rem 3rem;
}

.stock_images_left,
.stock_images_right {
  flex: 1;
}
.stock_images_left {
  /* height: 100%; */
  padding-right: 1rem;
  flex-direction: column;
  align-items: center;
}
.stock_image_left_upper,
.stock_image_left_lower {
  height: 50%;
  width: 100%;
}


.stock_image_left_lower {
  padding-top: 0.4rem;
}
.stock_image_left_upper {
  padding-bottom: 0.4rem;
}

.stock_image_left_lower img,
.stock_image_left_upper img {
  height: 100%;
  width: 100%;
}

.stock_images_right img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .withpadding {
    padding: 0 3rem;
  }
  .navbar_left {
    flex: 1;
  }
  .navbar_left img {
    height: 4vh;
  }

  .navbar_middle {
    font-size: 1.5rem;
    flex: 2;
  }
  .navbar_right {
    flex: 1;
    font-size: 1.6rem;
  }

  .hero_page_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
  }

  article {
    font-size: 1rem;
  }

  .card_box {
    padding: 0;
    margin-left: 2rem;
  }

  .logos_box {
    margin-top: 1rem;
  }

  .product_description {
    height: unset;
    font-size: 1.5rem;
  }

  .image_container img {
    object-fit: cover;
    object-position: left;
  }

  .prob_container {
    height: unset;
    font-size: 1.5rem;
  }
  .prob_description {
    width: 50vw;
    margin-left: 4rem;
  }

  .recipe_guide_container {
    height: 60vh;
    font-size: 1.5rem;
  }
  .text_box {
    width: unset;
    margin: 0rem 3rem;
  }

  .premium_container {
    height: 60vh;
    font-size: 1.5rem;
  }
  .premium_text_box {
    margin: 0rem 3rem;
  }

  .technology {
    font-size: 1.5rem;
  }
  .technology p {
    width: 86%;
  }

  .pan_container {
    height: unset;
  }

  .hobs_and_accessories {
    padding: 3rem 0rem;
    font-size: 1.5rem;
  }
  .hobs_and_accessories p {
    width: 70%;
  }

  .stoveimage {
    height: 52vh;
  }
  .stoveimage_container {
    height: 60%;
  }
  .stoveimage_box {
    height: 24vh;
  }
  .stock_images {
    height: 46vh;
    padding: 0rem 1rem;
    top: 346px;
  }
  .stock_images_left,
  .stock_images_right {
    height: 100%;
  }
  .stock_image_left_lower,
  .stock_image_left_upper {
    height: 50%;
  }
  .stock_image_left_lower img,
  .stock_image_left_upper img {
    object-fit: cover;
  }

  .stock_images_right img {
    object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
  .card_box {
    padding: 0;
    margin-left: 2rem;
  }

  .product_description {
    font-size: 1.2rem;
  }
  .prob_container {
    font-size: 1.2rem;
  }

  .recipe_guide_container {
    height: unset;
  }
  .recipe_guide_image_container,
  .recipe_guide_text_box_container {
    flex: unset;
  }
  .recipe_guide_text_box_container{
    padding: 1rem 0rem;
  }

  .premium_container {
    height: unset;
  }
  .premium_text_container,
  .premium_image_container {
    flex: unset;
  }

  .hobs_and_accessories {
    padding: 2rem 0rem;
    font-size: 1.5rem;
  }
  .hobs_and_accessories p {
    width: 70%;
  }

  .stoveimage {
    height: 58vh;
  }
  .stoveimage_container {
    height: 54%;
  }
  .stoveimage_box {
    height: 29vh;
  }
  .stock_images {
    top: 266px;
  }
}

@media only screen and (min-width: 500px) {
  .dropdown_container {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .withpadding {
    padding: 0 1rem;
  }
  .menubar {
    display: inherit;
  }
  .menu_icon {
    height: 1.2rem;
    width: 1.2rem;
  }
  .navbar_middle,
  .navbar_right {
    display: none;
  }
  .navbar_left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown_container {
    background-color: var(--grey);
    height: 90vh;
    width: 80vw;
    position: fixed;
    left: -80vw;
    z-index: 200;
  }

  .nav_item {
    height: 8vh;
    background-color: var(--grey);
    /* margin-top: 2px; */
  }
  .dropdown_container a {
    text-decoration: none;
    margin-left: 2.8rem;
    display: block;
    padding-top: 0.8rem;
    color: var(--secondary_color);
  }

  .hero_page_container {
    height: unset;
  }

  .hero_page_container img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    object-position: left;
  }

  .product_description {
    height: unset;
    font-size: var(--mobilefont);
  }
  .product_description_text_box,
  .product_description_card_box {
    flex: unset;
  }
  .card_box {
    margin: 0;
    padding: 0;
  }

  .image_container {
    height: unset;
    margin-top: 2rem;
  }

  .image_container img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    object-position: left;
  }

  .prob_container {
    height: unset;
    font-size: var(--mobilefont);
  }
  .prob_title,
  .prob_description {
    width: unset;
  }

  .prob_description {
    margin-left: 0rem;
  }

  .recipe_guide_image_container,
  .recipe_guide_text_box_container {
    flex: unset;

    font-size: var(--mobilefont);
  }

  .text_box {
    /* padding-left: 2rem;
        padding-top: 3rem; */
    /* height: 80%; */
    width: unset;
    margin-left: unset;
    padding-left: 1rem;
  }

  .progress_bar_parent {
    /* height: 1rem; */
    width: 6rem;
    background-color: grey;
    border-radius: 12px;
  }
  .progress_bar_child {
    /* height: 1rem; */
    width: 3rem;
    background-color: var(--secondary_color);
    color: var(--primary_color);
    border-radius: 12px;
    padding-left: 6px;
  }
  .guided_recipes_footer_container {
    display: flex;
    align-items: center;
  }
  .cooking_pot_container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    /* justify-content: flex-start; */
  }
  .guided_recipes_footer_container img {
    height: 2rem;
    margin-right: 0.5rem;
  }

  .premium_container {
    height: unset;
    font-size: var(--mobilefont);
  }
  .premium_text_container {
    flex: unset;
  }
  .premium_image_container {
    flex: unset;
  }
  .premium_text_box {
    margin: unset;
    padding-left: 1rem;
  }
  .technology {
    font-size: var(--mobilefont);
  }
  .technology p {
    width: 100%;
  }

  .pan_image_container {
    width: unset;
  }
  .pan_image_container img {
    object-position: center;
  }

  .hobs_and_accessories {
    padding: 2rem 0rem;
    font-size: var(--mobilefont);
  }
  .hobs_and_accessories p {
    width: unset;
  }

  .stoveimage {
    height: 58vh;
  }
  .stoveimage_container {
    height: 30%;
  }
  .stoveimage_box img {
    object-fit: contain;
  }
  .stock_images {
    top: 80px;
    flex-wrap: wrap;
  }
  .stock_images_left,
  .stock_images_right {
    flex: unset;
    width: 100%;
  }

  .stock_images_left {
    padding: 0rem 0rem;
  }
  .stock_image_left_lower,
  .stock_image_left_upper {
    height: 50%;
  }
  .stock_image_left_lower img,
  .stock_image_left_upper img {
    object-fit: cover;
  }
  .stock_images_right {
    margin-top: 1rem;
  }
  .stock_images_right img {
    object-fit: cover;
  }
}
